@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.RoomList li a::before {
    content: '# ';
}

.RoomList li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
  
.UserInfo a:hover {
    color: white !important;
}

.Avatar {
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border-radius: 20px;
}
  
.MessageForm input:focus {
    outline: 0;
}

.SignIn form button:hover {
    transform: scale(1.05);
    background: rgb(73, 90, 41) !important;
    border: 0.05px solid lightsteelblue !important;
    transition: 0.2s;
}

.SignIn form input:focus {
    border: 1px solid rgba(73, 90, 41, 0.5) !important;
    transform: scale(1.01);
    transition: 0.4s;
}